<div class="container custom-page">
  <div class="row justify-content-center">
    <div class="col-10">
        <%= render 'shared/form_error', obj:@location_contact %>
        <%= form_with(model: @location_contact, class: "shadow p-3 mb-3 rounded", local: true) do |f| %>
          <div class="form-group row">
            <%= f.label :"Name", class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter Contact Name" %>
              </div>
          </div>
          <div class="form-group row">
            <%= f.label :"Number", class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.text_field :number, class: "form-control shadow rounded", placeholder: "Enter Contact Number" %>
              </div>
          </div>
          <div class="form-group row">
            <%= f.label :"Email", class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.email_field :email, class: "form-control shadow rounded", placeholder: "Enter Contact email" %>
              </div>
          </div>
          <div class="form-group row">
            <%= f.label :"Location", class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.collection_select( :location_id, Location.all, :id, :location_name, {}, 
                { class: "form-control shadow rounded" }) %>
              </div>
          </div>
          <div class="form-group row">
            <%= f.label :comment, class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.text_field :comment, class: "form-control shadow rounded", placeholder: "Enter a comment" %>
              </div>
          </div>
          <div class="form-group row justify-content-center">
            <%= f.submit(@location_contact.new_record? ? "Create" : "Update", class: "btn btn-outline-light btn-lg") %>
          </div>
        <% end %>
    </div>
  </div>
</div>
