<h1 class="text-center text-white mt-4">Find location of any IP</h1>
<div class="container custom-page">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_for :anything, url: find_location_path do |f| %>
        <div class="form-group row mt-4">
          <%= f.label :"Search For IP", class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :ip, class: "form-control shadow rounded", placeholder: "Enter an IP" %>
            </div>
        </div>
        <div class="form-group row justify-content-center">
          <%= f.submit "Find Location", class: "btn btn-outline-danger btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @location %>
<div class="container custom-page">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1>Location Name: <%= @location.location_name %> </h1>
      <h2>Location Type: <%= @location.location_type.location_type %> </h2>
    </div> 
  </div> 
</div>
<% end %>