<div class="container custom-page">
  <div class="row justify-content-center">
    <div class="col-10">
        <%= render 'shared/form_error', obj:@location_type %>
        <%= form_with(model: @location_type, class: "shadow p-3 mb-3 rounded", local: true) do |f| %>
          <div class="form-group row">
            <%= f.label :"Location Type", class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.text_field :location_type, class: "form-control shadow rounded", placeholder: "Enter location type (PLANT, DC, OFFICE etc)" %>
              </div>
          </div>
          <div class="form-group row">
            <%= f.label :comment, class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                <%= f.text_field :comment, class: "form-control shadow rounded", placeholder: "Enter a comment" %>
              </div>
          </div>
          <div class="form-group row justify-content-center">
            <%= f.submit(@location_type.new_record? ? "Create" : "Update", class: "btn btn-outline-light btn-lg") %>
          </div>
        <% end %>
    </div>
  </div>
</div>
