<h1 class="text-center mt-4">Location Details</h1>
<div class="container text-white text-center">
  <div class="jumbotron custom-page">
    <p>Location Name: <%= @location.location_name %></p>
    <p>Location Type: <%= @location.location_type.location_type %></p> 
    <p>Location Address: <%= @location.location_address %></p>
    <p>Comment: <%= @location.comment %></p>
    <p>
      <%= link_to "Edit", edit_location_path(id: @location.id), class: "btn btn-outline-info" %> 
      <%= link_to "Delete", location_path(id: @location.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
    </p>
  </div>
</div>